* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
    
body {
    height: 100vh;
    display: flex;justify-content: center;
    align-items: center;
    background-color: #fefae0;
}
    

#container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    max-height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.229);
}
    

#image-size {
    width: calc(50% + (2*20px));
    height: 100%;
    background-color: #ccd5ae;
}


#login-size {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 20px;
    background-color: white;
}

form {
    overflow: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 4vh 0;
}
header > h1 {
    padding: 2px;
}
header > h1::after {
    content: " ";
    background-color: #daa066;
    margin: 10px;
    width: 30px;
    border: solid 2px #daa066;
    box-sizing: border-box;
}
header > input {
    height: fit-content;
    padding: .5vh 1vw;
    margin: 5px;
    background-color: #e9edc9;
    border-radius: 5px;
    border: solid 1px;
    box-sizing: border-box;
}
header > input:hover {
    color: white;
    background-color: #cedca1;
    transform: scale(1.01);
    border: none;
}

#dissertative-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dissertative {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}
.dissertative > input {
    padding: 2px;
}
.dissertative > input:focus {
    background-color: #f7e7bf;
    border: solid 1px;
}

#alternative-box {
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 3vh 0;
}

.alternative {
    display: flex;
    justify-content: initial;
    align-items: center;
    margin: 0.2vh 0;
}

#confirm {
    text-align: center;
}
#cadastro-botao {
    background-color: #fff07c;
    font-weight: bolder;
    text-align: center;
    width: 70%;
    padding: 1em 2em;
    margin: 2vh 20px;
    border: solid 1px;
    border-radius: 5px;
    border: none;
}
#cadastro-botao:hover {
    background-color: #ffe4a1;
}



@media screen and (max-width: 588px) {
    body {
        font-size: 0.8em;
    }
    #container {
        width: 60vw;
    }
    #image-size {
        display: none;
    }
    #login-size {
        width: 100%;
    }
    header {
        margin: 20px 5px;
    }
    header > h1 {
        font-size: 1.6em;
    }

    .dissertative > input {
        max-width: 90px;
        margin: 1px;
    }

    #alternative-box {
        margin: 3vh 1vw;
    }
}

@media screen and (min-width: 588px) and (max-width: 1000px) {
    body {
        font-size: 0.8em;
    }

    #container {
        width: 70vw;
        height: 70vh;
    }
    #image-size {
        width: 30%;
    }
    #login-size {
        width: 70%;
        padding: 0 10px;
    }

    header {
        margin: 18px;
    }

    #dissertative-box {
    justify-content: space-around;
    }
    .dissertative {
        margin: 6px 8px;

    }
    .dissertative > input {
        max-width: 110px;
    }

    #alternative-box {
        margin: 3vh 1vw;
    }
}
