* {
    margin: 0;
    padding: 0;
}

#navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    background: linear-gradient(darkslategrey, #253232);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    padding: 10px;
    cursor: pointer;
}
span {
    position: relative;
    top: -5px;
    display: none;
    width: 20px;
    height: 2px;
    background-color: white;
}
span::before {
    display: block;
    content: ' ';
    background-color: white;
    width: 20px;
    height: 2px;
    margin-top: 5px;
}
span::after {
    display: block;
    content: ' ';
    background-color: white;
    width: 20px;
    height: 2px;
    margin-top: 3px;
}

#navegation {
    list-style-type: none;
}

li {
    display: inline;
    color: rgb(183, 183, 183);
    padding: 3px 1em;
    cursor: pointer;
}
li:hover {
    color: white;
}

main {
    height: 92vh;
    background-image: url('montain-1.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 570px) {
    #navbar {
        background: darkslategrey;
    }

    span {
        display: block;
    }

    #navegation {
        background: linear-gradient(darkslategrey 20%, #253232 80%);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50vw;
        height: 92vh;
        padding: 10px 4vw;
        border-left: solid 1px;
        box-sizing: border-box;
        position: absolute;
        top: 8vh;
        right: 0;
        visibility: hidden;
    }
    li {
        margin-top: 30px;
        padding: 5px;
        border-bottom: solid 1px black;
    }
}