* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

#navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    background: linear-gradient(darkslategrey, #253232);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#check {
    display: none;
}
#hamburger {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#hamburger::before {
    content: " ";
    position: absolute;
    top: 40%;
    right: 0;

    background-color: white;
    width: 80%;
    height: 2px;
    border-radius: 15px;
    transition: 0.5s ease;
}
#hamburger::after {
    content: " ";
    position: absolute;
    top: 60%;
    right: 15%;

    background-color: white;
    width: 40%;
    height: 2px;
    border-radius: 10px;
    transition: 0.5s ease;
}
#check:checked ~ label #hamburger::before {
    top: 50%;
    width: 75%;
    right: 0;
    transform: rotate(225deg);
}
#check:checked ~ label #hamburger::after {
    top: 50%;
    width: 75%;
    right: 0;
    transform: rotate(315deg);
}


#navegation {
    list-style-type: none;
}

li {
    display: inline;
    color: rgb(183, 183, 183);
    padding: 3px 1em;
    cursor: pointer;
}
li:hover {
    color: white;
}

main {
    height: 92vh;
    background-image: url('navbar-3.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 570px) {
    #navbar {
        background: darkslategrey;
    }

    span {
        display: block;
    }

    #navegation {
        position: absolute;
        top: 8vh;
        right: 0;

        background: linear-gradient(darkslategrey 20%, #253232 80%);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40vw;
        height: 92vh;
        padding: 10px 4vw;
        border-left: solid 1px;
        box-sizing: border-box;
        visibility: hidden;
        transform: translateX(100%);
        transition: 0.5s ease;
    }
    #navegation.active {
        transform: translateX(0%);
    }
    li {
        margin-top: 30px;
        padding: 5px;
        border-bottom: solid 1px black;
    }
}